#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 37.6rem;
  height: 66.6rem;
  z-index: 100;
  position: relative;

  background: #FDFDFC;
  border-radius: .3rem;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 0 2rem;
}

