.call-date {
  text-align: center;
}

.call-date:first-child {
  padding-top: 1rem;
}

.call-date span {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BBBBBB;
}

.call-card:hover {
  cursor: pointer;
}

.call-card {
  background-color: white;
  border: 1px solid #E9E9E8;
  border-radius: .8rem;
  font-size: 1.2rem;
  height: 5.5rem;

  padding-left: 1.5rem;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

#archive-calls {
  justify-content: flex-start;
  margin: 0 2rem;
  min-height: 4rem;
  border-radius: 0 0 .8rem .8rem;
  font-size: 1.1rem;
  font-weight: bold;
}

#archive-calls:hover {
  cursor: pointer;
}

.call-card-left {
  width: 80%;
  display: flex;
  align-items: center;
}

.call-card-right {
  width: 20%;
  height: 2rem;
  border-left: 2px dotted #E9E9E8;

  display: flex;
  align-items: center;
  justify-content: center;
}
.call-card-right span {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #BBBBBB;
}

.call-card-icon {
  padding-right: 2rem;
  font-size: 2rem;
}

.call-card-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: .4rem 0 0 0;
}
.call-card-via {
  font-size: 1.1rem;
  color: #BBBBBB;
  margin: 0;
  padding: .5rem 0;
}

.call-card-archive {
  transition: all 1s;
  background-color: #E9441B;
  color: white;
  min-height: 100%;
  width: 5rem;
  margin-left: .3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}