.call-date {
  text-align: center;
}

.call-date:first-child {
  padding-top: 1rem;
}

.call-date span {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BBBBBB;
}

#archive-calls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0 2rem;
  min-height: 5.5rem;
  border-radius: 0 0 .8rem .8rem;

  font-size: 1.2rem;
  font-weight: 700;
}

#archive-calls:hover {
  cursor: pointer;

  color: #E9441B;
  
  transition: all .5s;
}

.no-calls {
  width: 100%;
  text-align: center;
}

.no-calls span {
  font-size: 1.8rem;
  display: block;
  padding-top: 5rem;
  color: #BBBBBB;
}
