footer {
  background-color: white;
  height: 6vh;
  width: 100%;
  border-top: 1px solid #E9E9E8;
  
  font-size: 2rem;
  
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .icons-wrapper {
  width: 35%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

footer #dialpad-outer-wrapper {
  height: 7rem;
  width: 7rem;
  background-color: white;
  
  position: absolute;
  bottom: 1vh;
  left: 50%;
  margin-left: -3.5rem;
 
  border: 1px solid #E9E9E8;
  border-radius: 50%;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.13);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

footer #dialpad-wrapper {
  background-color: #43BF21;
  height: 6rem;
  width: 6rem;

  font-size: 3.5rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
}

footer #icon-status {
  background-color: green;
  border-radius: 50%;
  border: 1px solid #E9E9E8;
  
  color: white;
}

footer .icon-wrapper {
  height: 100%;

  display: flex;
  align-items: center;
  position: relative;
}

footer .underline {
  background-color: #43BF21;

  border-radius: .5rem .5rem 0 0;
  width: 100%;
}