header {
  background-color: white;
  height: 5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-items: flex-start;
  align-items: center;
  position: relative;
}

.logo-wrapper {
  width: 8rem;
  font-size: 2rem;
}

.logo-wrapper svg {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
}

header h1 {
  font-size: 2rem;
  position: absolute;
  left: 6rem;
}

.header-left {
  width: 40%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.header-right {
  width: 50%;
  height: 92%;
  align-self: flex-end;
  font-size: 1.5rem;
  background-color: #FDFDFC;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #E9E9E8;
  border-bottom: none;
  border-radius: .6rem .5rem 0 0;
}

.header-right button {
  border: none;
  background-color: transparent;
}

