header {
  background-color: white;
  height: 5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  justify-items: flex-start;
  align-items: center;

  position: relative;
}

.logo-wrapper {
  width: 8rem;

  font-size: 2rem;
}

.logo-wrapper svg {
  display: block;

  height: 100%;
  width: 100%;
  padding-left: 2rem;
}

header h1 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: bold;
  
  position: absolute;
  left: 6rem;
}

.header-left {
  width: 50%;

  display: flex;
  justify-items: flex-start;
  align-items: center;
}

.header-right {
  width: 50%;
  height: 92%;
  background-color: #FDFDFC;
  border: 1px solid #E9E9E8;
  border-bottom: none;
  border-radius: .6rem .5rem 0 0;
  
  font-size: 1.5rem;
  
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

.header-right .header-btn {
  padding: 0 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: none;
  background-color: transparent;
}

.header-right .header-btn:hover {
  cursor: pointer;
}

.header-right .header-btn:not(:last-child) {
  border-right: 1px dotted #BBBBBB;
}

.header-active {
  font-weight: bold;
  color: #333333;
}

.header-inactive {
  color: #BBBBBB;
  font-weight: bold;
}

.underline {
  height: 3px;
  width: 15%;
  background-color: #E9441B;
  
  position: absolute;
  bottom: 0;
}

